<h2>Edit</h2>
<form method="POST" action="/update/{{ transaction.id }}">

<input name="account" value="{{ transaction.account }}">
<input type="date" name="date" value="{{ transaction.date }}">
<input name="stock" value="{{ transaction.symbol }}">

<select name="action">
<option value="BUY" {% if transaction.type=="BUY" %}selected{% endif %}>BUY</option>
<option value="SELL" {% if transaction.type=="SELL" %}selected{% endif %}>SELL</option>
</select>

<input name="shares" value="{{ transaction.shares }}">
<input name="price" value="{{ transaction.price }}">
<input name="fees" value="{{ transaction.fees }}">
<input name="lot" value="{{ transaction.lot_id }}">

<button>Update</button>
</form>
``